

/* Контейнер */
.container {
     font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    padding: 25px;
    margin: 20px;
}

/* Заголовок */
h1 {
    text-align: center;
    margin-bottom: 25px;
}

/* Сетка карточек */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Одиночная карточка */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 140px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.card p {
    margin: 0;
    font-size: 14px;
}

/* Адаптивность */
@media (max-width: 600px) {
    .cards {
        gap: 15px;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 20px 10px;
    }

    .card h2 {
        font-size: 16px;
    }

    .card p {
        font-size: 13px;
    }
}
